.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;  
}

.products_container{
    height: 100%;
    max-width: 1440px;  
    margin: 0 auto;
}

.products_block{
    height: 100%;
    max-width: 1280px;  
    margin: 0 auto;
}

.products__below-filter_container{
    width: 100%;
    max-width: 1440px;  
    height: 68px;
  
    justify-content: center;
}

.products__below-filter_item{
    height: 100%;
    max-width: 1280px;  
    margin: 0 auto;
}

.below_filter__block{
    height: 68px;
}
