.productList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: space-around; 
}

.productList__item {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 400px;
    padding-bottom: 40px;
    width: 25%;
}


@media screen and (max-width: 1024px) {

    .productList__item {
        width: 33.3%;
    }
}


@media screen and (max-width: 767px) {
    .productList__item {
        width: 50%;
    }

    .productList__item {
     min-height: 330px;
    }

}

@media screen and (max-width: 500px) {
    .productList__item {
        width: 50%;
    }

    .productList__item {
     min-height: 292px;
    }

}
