.menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

.menu__item{
    font-weight: 650;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.menu a.active{
    color:gold;
 }

 .menu a {
    text-decoration: none;
 }
