.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo_title{
    /* padding-right: 15px; */
    font-size: 31px;
    color: #000000;
    /* padding-bottom: 3px; */
}


@media screen and (max-width: 767px) {

    .logo{
        justify-content: start;
    }
   
}