
.wrapper{

}

.wrapperslider{
  height: 60px;
}

.container{
  margin: 0 -10px;
  /* padding: 0 10px; */
}

.productList__item--slider {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 400px;
  padding-bottom: 0px;
  width: 25%;
  min-height: 252px;
}

.wrapperslider--mobile{
  display: none;
  align-items: center;
}


@media screen and (max-width: 767px) {
  .productList__item {
    padding-bottom: 0px;
    min-height: 252px;
  }

  .container{
    padding: 0 10px; 
    padding-bottom: 19px;
  }

  .wrapperslider--mobile{
    display: flex;
    padding-left: 10px;
  }
  
}



/* 

.productList__item.productList__item--small {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 332px;
  padding-bottom: 0px;
  width: 25%;
}

.productList__item.productList__item--new { 
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 542px;
  padding-bottom: 0px;
  width: 25%;
}

.productList__item.popular{


}





.productList__item.popular{
    */

  /* @media screen and (max-width: 1100px) {
     
  
  }

  @media screen and (max-width: 1100px) {
   
  
  }
  
} */
























/* МОЖЕТ ВОБЩЕ СДЕЛАТЬ ОДНУ НА ВСЕХ И НЕ ПАРИТСЯ, НЕ МЕНЯТЬ ДЛЯ КАЖДОГО СЛАЙДЕРА И */






/* .productList__item {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 400px;
  padding-bottom: 40px;
  width: 25%;
} */


