
  .home{
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .home_advertisement{
    width: 100%;
    height: 380px;
  }

  .home_wrapper{
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    margin: 0 auto;
  }

  .home_wrapper__benefits{
    height: 94px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 40px;
  }

  .home_wrapper_popular__slider-pagination{
    background: #fff;
      max-width: 100%;
      height: 60px;
  }

  .home_wrapper_popular{
    height: 392px;
    width: 100%;
    max-width: 100%;
  }

  .home_wrapper_shop-by-size{
    margin-top: 43px;
    height: 304px;
    max-width: 100%;
    background: orange;
  }

  .home_wrapper_discover-your-style{
    margin-top: 40px;
    height: 417px;
    max-width: 100%;
    background: blue;
  }

  .home_wrapper_new{
    margin-top: 40px;
    height: 602px;
    max-width: 100%;
    padding-bottom: 40px;
  }

  .home_living_room_rugs{
    background: green;
    width: 100%;
    height: 497px;
  }


  

