.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
}

.header_logo_block{
    border-right: 1px solid #B2B2B2;
    height: 100%;
    width: 142px;
    display: flex;
    margin-left: 20px;
}

.header_search_block{
    display: flex;
    flex-grow: 1;
}

.header_menu_block{
    height: 100%;
    width: 529px;
    display: flex;
    border-right: 1px solid #B2B2B2;
    border-left: 1px solid #B2B2B2;
}

.header_action_block{
    display: flex;
    width: 95px;
    height: 100%;
}


