.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 65px; */
    height: 100%; 
    width: 100%;
}

.header_logo_block{
    border-right: 1px solid #B2B2B2;
    height: 100%;
    width: 158px;
    display: flex;
    padding-left: 3px;
    padding-bottom: 2px;
    font-family: "graphikmedium";
}

.header_search_block{
    padding-left: 20px;
    font-family:"graphikregular";
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.header_navigation{
    height: 100%;
    /* max-width: 660px; */
    width: 660px;
    display: flex;
}

.header_navigation_menu{
    box-sizing: border-box;
    /* width: 530px; */
    width: 80.30%;
    display: flex;
    border-right: 1px solid #B2B2B2;
    border-left: 1px solid #B2B2B2;
}

.header_navigation_action{
    /* width: 130px; */
    width: 19.70%;
    display: flex;
}
