.below_filter_block{
    width: 100%;
    height: 100%;
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.below_filter_block__rugs-quantity{
    font-weight: 500;
    font-size: 16px;
}

.below_filter_block__sort{
    border-radius: 5px;
    height: 26px;
    width: 86px;
    background: #fff;
    color: #666666;
    padding-left: 20px;
}


@media screen and (max-width: 1024px) {
    .below_filter_block__rugs-quantity{
        padding-left: 20px;
    }

    .below_filter_block__sort{
        margin-right: 20px;
    }
}