.slider-block{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-block__title{
    display: flex;
    height: 100%;
}

.slider-block__title p{
    align-self: flex-start;
    letter-spacing: 1.7px;
    font-size: 38px;
    font-weight: 650;
    padding-left: 11px;
}

.slider-block__slider-pagination{
    max-width: 228px;
    width: 226px;
    display: flex;
}


.slider-pagination__see-all{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 89px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .slider-block__slider-pagination{
        display: none; 
    }

    .slider-block__title p{
        font-size: 24px;
        line-height: 26px;
        align-self: center;
    }

}