.action{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.action_container{
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.action_container--border{
    border-right: 1px solid #B2B2B2; 
}

@media screen and (max-width: 767px) {
    .action{
        border-right: 1px solid #B2B2B2;
        border-left: 1px solid #B2B2B2;
    }

    .action_container--border{
        border-right: 1px solid #B2B2B2; 
        border-left: 1px solid #B2B2B2; 
    }
}