.banner{
    display: flex;
    height: 321px;
}

.banner_block{
    display: flex;
    width: 100%;
    max-width: 1440px;


}

.banner_block__text{
    flex: 40%;
   /* // width: 570px; */
    background: #fdaf17;
}

.banner_block__text h1{
    line-height: 38px;
    margin-top: 104px;
    margin-left: 83px;
    font-size: 44px;
    color: #000;
}

.banner_block__img{
    flex: 61%;
    background-image:  url('../../img/img_test.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/* 

    background-image: 
    width: 873px; */
}